{% extends 'layout.html' %}

{% load static %}

{% block customCSS %}<link rel="stylesheet" type="text/css" href="{% static 'css/_index.css' %}">{% endblock %}

{% block customJS %}<script src="{% static 'js/main.js' %}"></script>{% endblock %}

{% block title %}¡Postular a una oferta laboral nunca fue tan facil!{% endblock %}

{% block body %}
    <main class="vh-100 bg-dark">
        <section class="h-100">
            <header>
                <nav class="navbar navbar-expand-md" data-bs-theme="dark">
                    <div class="container p-3">
                      <a href="/" class="navbar-brand p-0">
                        <div class="d-flex align-items-center">
                          <h1 class="m-0 fs-4 text-light-emphasis">JOBS MATCH</h1>
                          <p class="m-0 mx-auto"></p>
                        </div>
                        <div class="d-flex fs-6">
                          <p class="m-0 ms-4 text-success-emphasis">Powered by</p>
                          <p class="devops-ar d-flex justify-content-center m-0 ms-1">
                            <span>D</span>
                            <span>E</span>
                            <span>V</span>
                            <span>O</span>
                            <span>P</span>
                            <span>S</span>
                            <span>-</span>
                            <span>A</span>
                            <span>R</span>
                          </p>
                        </div>
                      </a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon border-0"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto text-center">
                            <li class="nav-item">
                              <a class="nav-link text-decoration-underline link-offset-2 active" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link text-decoration-underline link-offset-2" href="#">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link text-decoration-underline link-offset-2" href="#">Contacto</a>
                            </li>
                            <li class="nav-item ms-md-4 d-flex justify-content-center">
                              <a class="nav-link text-light-emphasis flex-fill" href="#">Probar gratis</a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
            </header>
        </section>
    </main>
{% endblock %}